:root{
    /* CTAs, Focused, Active states, Links */
    --primary-brand:#4D5AE5;

    /* overlays, shadows,headings */
    --dark:#2E2F42;

    /* valid fields, success messages */
    --success:#31D0AA;

    /* Body Text */
    --text:#434455;

    /* Helper text, Deemphasized text*/
    --sublte-text:#8E8F99;

    /* Accent color Hairlines Subtle backgrounds */
    --Accent:#E7E9FC;

    /* Light mode backgrounds Light mode Dialogs/alerts */
    --Light:#F4F4FD;

    /* background color , hero-title */
    --background:#FFFFFF;

    /* MAIN BUTTON ACTIVE COLOR */
    --active-button:#404BBF;
}

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
ul,h1,h2,h3,p{
    margin:0 0;
    padding:0 0;
}
/* LISTS DECORATION */
.ulists {
    list-style: none;
}

/* LINK DECORATION */
.link {
    text-decoration: none;
    color: inherit;
}
.container{
    padding-left: 12px;
    padding-right: 12px;
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid blue; */
}
.header-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    align-items:center ;
   
}
.navigation .ulists{
    display: flex;
}
.content:not(:last-child){
    margin-right: 40px;
}
.content .link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.ulists.info{
    display: flex;
}
.info .content:not(:last-child){
    margin-right: 40px;
}
/* УДАЛИТЬ ПОСЛЕ УСТАНОВКИ */
.section{
   padding-top: 120px;
   padding-bottom: 120px;
}
.section.portfolio-section{
    padding-top: 96px;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Roboto, sans-serif;
    font-size: 16px;
}
/* BUTTONS */
.button{
    color:var(--primary-brand);
    background-color: var(--Light);
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    display: flex;
    align-items: center;
    border: 1px solid var(--Accent);
    border-radius: 4px;
    padding: 8px 16px;
}
/* FILTER BUTTONS BLOCK*/
.filter{
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}
.filter-button:not(:last-child){
    margin-right: 40px;
}
.button:hover,
.button:focus{
    color: var(--background);
    background-color: var(--primary-brand);
}
.mainbutton.button{
    color:var(--background);
    background-color: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

    display: flex;  
    border-radius: 4px;
    align-items: center;
    padding: 16px 32px;
    min-width: 170px;
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;
}
.mainbutton.button:active{
   background-color:var(--active-button);
}
/* TITLES */
.title{
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* HEADER */
.navigation .link {
    color: var(--dark);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.info,
.ulists,
.footer-text{
    letter-spacing: 0.02em;
}
/* .navigation .link:active{
color: var(--primary-brand);
} */
.nav.link:hover,
.nav.link:focus {
    color:var(--text)
}
.navigation .link.current {
    color: var(--primary-brand)
}
.link.logo{
    font-family: Raleway, sans-serif;
    color: var(--dark);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    margin-right: 77px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-blue{
    color: var(--primary-brand);
}
.logo.logo-white{
    color: var(--Light);

    display:inline-block;
    padding-bottom: 16px;
}
/* Hero Section */
.section.hero{
    background-color: var(--dark);
   
}
.hero-title{
    color: var(--background);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;

    margin-bottom: 48px;
}
/* our advantages section */
.ulists.advantages {
    display: flex;
}

.advantages .text-content {
    width: 264px;
    margin-right: 24px;
}

.advantages .text-content:last-child {
    margin-right: 0px;
}
/* What are we doing section */
.title.big-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center; 
    text-transform: capitalize;

    margin-bottom: 72px;
}
.our-job{
    display: flex;
    column-gap: 24px;
}


/* OUR team Section */
.team-section{
    background-color: var(--Light);
}
.team-cards{
    background-color: var(--background);
}
.team-list{
    display: flex;
    column-gap: 24px;
}
.team-cards .text-content{
    text-align: center;
    padding-top: 32px; 
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}
/* Footer */
.footer{
    background-color:var(--dark);

    padding-bottom: 100px;
    padding-top: 100px;
}
.footer-text{
    color: var(--Accent);
}
.foot-container{
    width: 264px;
}

/* PORTFOLIO IMAGES  */
.portfolio-picture{
    margin-bottom: 32px;
}
.portfolio-exempls{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-exempls .text-content{
    padding-top: 32px;
    padding-bottom: 32px;
}


