:root{
    /* CTAs, Focused, Active states, Links */
    --primary-brand:#4D5AE5;

    /* overlays, shadows,headings */
    --dark:#2E2F42;

    /* valid fields, success messages */
    --success:#31D0AA;

    /* Body Text */
    --text:#434455;

    /* Helper text, Deemphasized text*/
    --sublte-text:#8E8F99;

    /* Accent color Hairlines Subtle backgrounds */
    --Accent:#E7E9FC;

    /* Light mode backgrounds Light mode Dialogs/alerts */
    --Light:#F4F4FD;

    /* background color , hero-title */
    --background:#FFFFFF;

    /* MAIN BUTTON ACTIVE COLOR */
    --active-button:#404BBF;
}

/* TESTOVIE CSS */
.spisak{
    list-style: none;
    border: black solid 2px;
    display: flex;
    padding: 10px;
    margin: 30px;
}
.bird{
    width: 300px;
}
.bittmen{
    border-radius: 50%;
    margin: 40px;
    display: block;
    width: 100px;
    height: 100px;
    border: none;
    padding: 10px;
    background-image: url('../images/twitter\ 1.svg') ;

}

/* TESTOVIE CSSS */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
ul,h1,h2,h3,p{
    margin:0 0;
    padding:0 0;
}
/* LISTS DECORATION */
.ulists {
    list-style: none;
}

/* LINK DECORATION */
.link {
    text-decoration: none;
    color: inherit;
}
.container{
    padding-left: 12px;
    padding-right: 12px;
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid blue; */
}
.header-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.header{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navigation{
    display: flex;
    align-items:center ;
   
}
.navigation .ulists{
    display: flex;
}
.content:not(:last-child){
    margin-right: 40px;
}
.content .link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.ulists.info{
    display: flex;
}
.info .content:not(:last-child){
    margin-right: 40px;
}
/* УДАЛИТЬ ПОСЛЕ УСТАНОВКИ */
.section{
   padding-top: 120px;
   padding-bottom: 120px;
}
.advantages-section{
    padding-bottom: 0px;
}
.section.portfolio-section{
    padding-top: 96px;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Roboto, sans-serif;
    font-size: 16px;
}
/* BUTTONS */
.button{
    color:var(--primary-brand);
    background-color: var(--Light);
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    display: flex;
    align-items: center;
    border: 1px solid var(--Accent);
    border-radius: 4px;
    padding: 8px 16px;
}
/* FILTER BUTTONS BLOCK*/
.filter{
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}
.filter .button:hover,
.filter .button:focus{
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-color: var(--primary-brand);
}
.filter-button:not(:last-child){
    margin-right: 24px;
}
.button:hover,
.button:focus{
    color: var(--background);
    background-color: var(--primary-brand);
}
.mainbutton.button{
    color:var(--background);
    background-color: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

    display: flex;  
    border-radius: 4px;
    align-items: center;
    padding: 16px 32px;
    min-width: 170px;
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;
}
.mainbutton.button:active{
   background-color:var(--active-button);
}
/* TITLES */
.title{
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* HEADER */
.navigation .link {
    color: var(--dark);
    font-weight: 500;
    letter-spacing: 0.02em;
}
.info,
.ulists,
.footer-text{
    letter-spacing: 0.02em;
    line-height: 1.5;
}
/* .navigation .link:active{
color: var(--primary-brand);
} */
.nav.link:hover,
.nav.link:focus {
    color:var(--text)
}
.navigation .link.current {
    color: var(--primary-brand)
}
.link.logo{
    font-family: Raleway, sans-serif;
    color: var(--dark);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    margin-right: 77px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-blue{
    color: var(--primary-brand);
}
.logo.logo-white{
    color: var(--Light);

    display:inline-block;
    padding-bottom: 16px;
    padding-top: 0px;
}
/* Hero Section */
.section.hero{
    background-color: var(--dark);
    padding-bottom: 192px;
    padding-top: 192px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
}
.hero-title{
    color: var(--background);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;

    margin-bottom: 48px;
}
/* our advantages section */
.ulists.advantages {
    display: flex;
}
.picture{
    background-color: var(--Light);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;

}

.advantages .text-content {
    width: 264px;
    margin-right: 24px;
}

.advantages .text-content:last-child {
    margin-right: 0px;
}
/* What are we doing section */
.title.big-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center; 
    text-transform: capitalize;

    margin-bottom: 72px;
}
.our-job{
    display: flex;
    column-gap: 24px;
}


/* OUR team Section */
.team-section{
    background-color: var(--Light);
}
.team-cards{
    background-color: var(--background);
}
.team-list{
    display: flex;
    column-gap: 24px;
}
.team-cards .text-content{
    text-align: center;
    padding-top: 32px; 
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}
.contact-links{
    display: flex;
    column-gap: 24px;
    justify-content: center;
    margin-top: 12px;
}
.sotial-media-link{
    display: flex;
    justify-content:center ;
    padding:12px;
    background-color: var(--primary-brand);
    border-radius: 50%;
    color: var(--background);
}
.sotial-media-link:hover,
.sotial-media-link:focus{
    background-color: aqua;
    color: cornflowerblue;
}
.icon{
    fill: currentColor;
}
/* CUSTOMERS SECTION */
.our-customers-list{
    display: flex;
    column-gap: 24px;
}
.customers-link{
display: flex;
justify-content: center;
align-items: center;
width: 168px;
height: 88px;
color: var(--sublte-text);
border: 1px solid var(--sublte-text);
border-radius: 4px;
}
.customers-link:hover,
.customers-link:focus{
    color:var(--primary-brand);
    border-color: var(--primary-brand);
}

.customers-logo{
    fill: currentColor;
    width: 104px;
    height: 56px;
}

/* Footer */
.footer{
    background-color:var(--dark);

    padding-bottom: 100px;
    padding-top: 100px;
}
.footer-text{
    color: var(--Accent);
}
.sotial-text{
    font-weight: 500;
}
.footer > .container{
    display: flex;
    column-gap: 120px;
}
.foot-container{
    width: 264px;
}
.footer-sotial{
    width: 208px;
}
.link.foot-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--Light);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.link.foot-icon:hover,
.link.foot-icon:focus{
background-color:var(--success);
}
.foot-list-sotial-link{
    margin-top: 16px;
    display: flex;
    column-gap: 16px;
}
/* PORTFOLIO IMAGES  */
.portfolio-picture{
   display: block;
}
.portfolio-exempls{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-exempls .link:hover,
.portfolio-exempls .link:focus{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
display: block;
}
.portfolio-exempls .text-content{
    border:0.5px solid var(--Light);
    border-top: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 16px;
    padding-left: 16px;
}


